/* FUENTES */

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
  
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  
/* BODY */

body{
    background-color: whitesmoke;
    font-family: "Lato", sans-serif;
    margin: 0;
}

h1{
    font-family: "Lato", sans-serif;
    font-size: 70px;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(169, 62, 62, 0.5);
}

a{
    text-decoration: none;
}

/* FOOTER */

footer{
    background-color: #41443E;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    margin: 0;
}

footer a{
    color:white;
    font-size: 25px;
    padding-left: 70px;
}

/* HEADER */

.links{
    padding-left: 20px;
    font-size: 30px;
    color: white; 
}

.links:hover{
    font-size: 45px;
}

#logo{
    width: 100px;
    height: auto;
    
}

.arriba {
    background-color: #41443E;
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    align-items: center; /* Centramos verticalmente los elementos */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    top: 0;
}

.arriba img {
    margin-right: 10px; /* Ajusta el espacio entre la imagen y los enlaces */
}

.arriba nav {
    display: flex; /* Utilizamos flexbox para los enlaces */
}

.arriba a {
    text-decoration: none; /* Quitamos la decoración de texto */
    color: white; /* Color del texto */
    margin-right: 10px; /* Ajusta el espacio entre los enlaces */
}

/* INDEX */

.container {
    display: flex;
    align-items: center;
}

#facundo{
    width: 500px;
    height: auto;
    margin-right: 20px;
}

#facundo:hover{
    width: 520px;
    height: auto;
}

.destacado{
    color: grey;
}

#parrafo{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#sabermas{
    font-size: 20px;
    font-style: normal;
    font-family: "Lato", sans-serif;
    color: blue;
}

/* SOBRE MÍ */

#presentacion{
    text-align: center;
}

#rosario{
    width: 600px;
    height: auto;
}

.segundo{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
}

.segundo p{
    padding-left: 60px;
    text-align: center;
    padding-top: 140px;
}

/* FORMACIÓN */


#inicial{
    text-align: center;
}

#inicial p{
    padding-left: 50px;
    padding-right: 50px;
}

#divinicial h2{
    text-align: center;
    font-family: "Lato", sans-serif;
}

#siglologo{
    width: 500px;
    height: auto;
}

#universitaria{
    text-align: center;
}

#universitaria p{
    padding-left: 50px;
    padding-right: 50px;
}

#coderlogo{
    width: 500px;
    height: auto;
}

#cursos{
    text-align: center;
}

/* PROYECTOS */

#proyects p{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
}

/* CONTACTO */

#waplogo{
    width: 200px;
    height: auto;
}

#linklogo{
    width: 200px;
    height: auto;
}

#mediosde{
    text-align: center;
    
}
