/* FUENTES */

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
  
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  
/* BODY */

body{
    background-color: whitesmoke;   
}

h1{
    font-family: "Lato", sans-serif;
    font-size: 80px;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(169, 62, 62, 0.5);
}

a{
    text-decoration: none;
}

/* HEADER */

.nav-link{
    font-family: "Lato", sans-serif;
    font-size: 25px;
    color: grey;
    margin-right: 20px;
}

.nav-link:hover{
    background-color: grey; 
    color: white;
    border-radius: 5px;
    transition: background-color 1s, color 1s;
}

#logo{
    width: 100px;
    height: auto;
}

/* FOOTER */

.footer-links{
    font-family: "Lato", sans-serif;
    font-size: 25px;
    color: grey;
    padding: 10px 20px;
}

.footer-links:hover{
    background-color: grey; 
    color:white;
    border-radius: 5px;
    transition: background-color 2s, color 2s;
}

/* INDEX */

#facundo{
    width: 300px;
    height: auto;
}

#sabermas {
    font-size: 20px;
    font-style: normal;
    font-family: "Lato", sans-serif;
    color: blue;
}

#sabermas:hover{
    font-size: 25px;
    transition: font-size 1s;
}

.destacado {
    color: grey;
}

#parrafo {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container.mt-5 {
    padding-top: 150px;
}

/* SOBRE MÍ*/

.presentacion { /* Este estilo tambien lo uso en formacion.html y presentacion.html */
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #ccc;
    padding-bottom: 15px;
}

.container.mt-4{
    padding-top: 150px;
}

.card{
    margin-right: 15px;
    width: 18rem;
}

.card-title{
    font-weight: bold;
}

#rosario{
    width: auto;
    height: 190px;
}

#tecnologia{
    width: auto;
    height: 190px;
}

/* FORMACIÓN */

.logoformacion{
    width: 190px;
    height: auto;
    margin-left: 10px;
}

.accordion-button:focus{
    box-shadow: none;
    background-color: rgb(114, 114, 113);
}

.accordion-item{
    background-color: grey;
}

.accordion-button{
    background-color: rgb(114, 114, 113);
}

/* PROYECTOS */

#proyectos {
    text-align: center;
}

#proyectos p {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-size: 30px;
}

#enconstruccion{
    width: 400px;
    height: auto;
}

/* CONTACTO */

#mediosde {
    text-align: center;
}


