.acordeon{
    .logoformacion {
        width: 190px;
        height: auto;
        margin-left: 10px;
    }
    
    .accordion-button {
        &:focus {
            box-shadow: none;
            background: rgb(127,127,134);
            background: radial-gradient(circle, rgba(127,127,134,1) 0%, rgba(23,23,24,1) 100%);
        }
        & {
            background: rgb(127,127,134);
            background: radial-gradient(circle, rgba(127,127,134,1) 0%, rgba(23,23,24,1) 100%);
        }
    }
    
    .accordion-item {
        background: rgb(127,127,134);
        background: radial-gradient(circle, rgba(127,127,134,1) 0%, rgba(23,23,24,1) 100%);
    }
    
    strong{
        color: white;
    }

    p{
        color: white;
    }
}