.card {
    margin-right: 15px;
    width: 18rem;
    border: 2px solid black;
    background: rgb(127,127,134);
    background: radial-gradient(circle, rgba(127,127,134,1) 0%, rgba(23,23,24,1) 100%);
    margin-top: 20px;
    margin-bottom: 20px;
    img{
        width: auto;
        height: 190px;
    }

    .btn{
        background-color: #7f7f86;
        border-radius: 5px;
        border: 2px solid black;
        padding: 10px;
        font-size: 20px;
        font-style: normal;
        font-family: "Lato", sans-serif;
        color: #afafaf;

        box-shadow: 5px 6px 5px 1px rgba(0,0,0,0.76);
        -webkit-box-shadow: 5px 6px 5px 1px rgba(0,0,0,0.76);
        -moz-box-shadow: 5px 6px 5px 1px rgba(0,0,0,0.76);

        transition: 0.5s;
        &:hover {
            box-shadow: 1px 0px 11px 7px rgba(237,215,19,0.75);
            -webkit-box-shadow: 1px 0px 11px 7px rgba(237,215,19,0.75);
            -moz-box-shadow: 1px 0px 11px 7px rgba(237,215,19,0.75);
            color: rgba(237,215,19,0.75);
        }
    }

    .card-title {
        font-weight: bold;
    }

    p{
        color: #afafaf;
    }
}



